*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background: linear-gradient( to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
}

.wrapper {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: white;
    border-radius: 15px;
    z-index: 1;
}

.illustration-woman {
    position: absolute;
    max-width: 400px;
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 7;
    z-index: 10;
    top: -20px;
    left: -50px;
}

.illustration-woman img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.bg-pattern {
    position: absolute;
    max-width: 600px;
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 7;
    left: -100px;
    z-index: 5;
}

.bg-pattern img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}




